{{ define "main" }}

{{ $permalink := .RelPermalink }}
{{$Section := .Site.GetPage "section" .Section }}

<div class="flex max-h-screen relative overflow-y-auto h-full">
  
  <article class="px-6 py-20 w-full mx-auto prose lg:prose-lg dark:prose-invert h-fit prose-img:mx-auto">
    
    <a href="{{ $Section.Permalink }}" class="!no-underline !text-slate-500 !mb-2 !inline-block !font-normal !text-sm hover:!text-slate-700 dark:hover:!text-slate-400">← zurück zur Übersicht</a>

    {{ $title := .Params.title }}
    <h1 class="!mb-2">{{ $title }}</h1>
    {{ if .Date }}
    <p class="text-sm text-slate-500 !mb-8">{{ .Date.Format "02.01.2006" }}</p>
    {{ end }}

    {{ .Content }}
  </article>

</div>

{{ end }}